{% extends 'base.html' %} {% block content %}
<div class="content container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Student Details</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'view_student' %}">Student</a></li>
          <li class="breadcrumb-item active">Student Details</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="about-info">
            <h4>About Me</h4>
            <div class="media mt-3">
              <img src="{% for i in student %} /{{i.admin.profile_pic}} {%endfor%}" class="mr-3" alt="User Image" />
              <div class="media-body">
                <ul>
                  <li>
                    <span class="title-span">Full Name : </span>
                    <span class="info-span">{% for i in student %} {{i.admin.first_name}}&nbsp;{{i.admin.last_name}} {%endfor%} </span>
                  </li>
                  <li>
                    <span class="title-span">Department : </span>
                    <span class="info-span">{% for i in student %} {{i.course_id.name}} {%endfor%}</span>
                  </li>
                  <li>
                    <span class="title-span">Session Year : </span>
                    <span class="info-span">{% for i in student %} {{i.session_year_id.session_start}}&nbsp; to &nbsp; {{i.session_year_id.session_end}} {%endfor%}</span>
                  </li>
                  <li>
                    <span class="title-span">Email : </span>
                    <span class="info-span">{% for i in student %} {{i.admin.email}} {%endfor%}</span>
                  </li>
                  <li>
                    <span class="title-span">Gender : </span>
                    <span class="info-span">{% for i in student %} {{i.gender}} {%endfor%}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <p>Hello I am {% for i in student %} {{i.admin.first_name}}&nbsp;{{i.admin.last_name}} {%endfor%}</p>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-md-12">
                <h5>Permanent Address</h5>
                <p>{% for i in student %} {{i.address}}{%endfor%}</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}
